.publicacin_usuario{
    width: 100%;
    height: 100%;
    background: thistle;
}

section.contenedor_publicar{
    background: seagreen;
    position: relative;
}
/*los 3 contenedores que van a parecer dentro del panel publicaciones*/
div #contenedor_publicacion_publicacion{

    width:30%;
    /*background: #000;*/
    position:relative ;
    left: 35%;
}
div #contenedor_publicacion_configuracion{
    display: none;
}
div #contenedor_publicacion_documentos{
    display: none;
}

div #contenedor_publicacion_imagenes{
    display: none;
}
